*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: url('../img/blackbg.jpg');
    background-size: cover;
    background-blend-mode: darken; 
    display: grid;
    
}
.main{
    
    width: 70%;
    max-height: 100%;
    margin: 0 auto;

    place-items: center;
    margin-top: 70px;
    box-shadow: rgb(63, 205, 117);
    background: rgb(218, 215, 215);
}
.main img{
    width: 230px;

}
.image{
    width: 50%;
}
.nav-bar{
    display: flex;  
    /* background-color: greenyellow; */
    background-color: rgb(245, 179, 179) ;
    
}
.nav{
    width: 50%;
    text-align: right;
    /* background-color: saddlebrown; */
    position: sticky;
    
}
.menu1{
    width: 100%;
    /* background-color: salmon; */
}
.menu1 a {
    
    text-decoration: none;
   
    margin: 0 20px 0 0;
    line-height: 70px;
    clear: right;
}
.menu{
    /* margin: 0 30px 0 0; */
    width: 100%;
   
    background-color: rgb(143, 139, 136);
    text-align: center;
}
.menu a {
    
    text-decoration: none;
    color: white;
    margin: 0 30px;
    line-height: 70px;
    clear: right;
}
span{
    color: white;
}
label{
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}

.first-half{
    /* background-color: indigo; */
    text-align: center;
    
}
.first-half img{
    border-radius: 50%;
}
.second-half{
    width: 60%;
    /* background-color: yellow; */
    margin: 0 auto;
    line-height: 2rem;
    letter-spacing: .1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second-half h1{
    text-align: center;
    margin-top: 30px ;
}
.second-half h3{
    text-align: center;
}
.second-half p{
    font-size: 18px;
    margin-bottom: 30px;
}
@media only screen and (max-width:1465px){
    label{
        display: block;
        cursor: pointer;
    }
    .nav-bar{
        width: 100%;
    }
    .menu1{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu1 a{
        display: block;
        border-bottom: 1px solid lightgray;
        margin: 0;

    }
    .first-half img{
        text-align: center;
    }
    .second-half p{
        text-align: center;
    }
    #toggle:checked + .menu1{
        display: block;
    }
}
@media only screen and (max-width:500px){

.menu a{
    display: block;
}
}